.header {
    height: 60px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(6, 0, 31);
    padding: 0 15px;
}

.header-link {
    display: inline-block;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
    border: 1px solid white;
}

.left-section, .mid-section ,.right-section {
    display: flex;
    align-items: center;
}

.amazon-logo {
    height: 30px;
    width: auto;
    margin-top: 2px;
    cursor: pointer;
}

.location-button {
    color: rgb(207, 207, 207);
    font-size: 12px;
    background-color: rgb(6, 0, 31);
    text-align: left;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 35px;
}

.location-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.mid-section {
    flex: 1;
    max-width: 850px;
}

.all-button {
    height: 40px;
    width: 55px;
    font-size: 13px;
    border: none;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.search-bar {
    flex: 1;
    height: 38px;
    width: 0;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    border: none;
}

.search-bar-button-image {
    height: 20px;
    padding-top: 4px;
}

.search-bar-button {
    height: 40px;
    width: 45px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(255, 197, 90);
    cursor: pointer;
}

.lang-button {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    background-color: rgb(6, 0, 31);
    border: none;
    cursor: pointer;
    margin-left: 30px;
}

.order-link {
    color: white;
}

.return-text {
    display: block;
    font-size: 11px;
}

.order-text {
    display: block;
    font-size: 15px;
    font-weight: 700;
}
.cart-link {
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-icon {
    height: 35px;
    padding-top: 4px;
}

.cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}

.cart-quantity {
    color: rgb(240,136,4);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 8px;
    left: 23px;

    width: 26px;
    text-align: center;
}

@media (max-width: 800px) {
    .location-button, .lang-button, .order-link, .all-button{
        display: none;
    }
    .search-bar {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .mid-section {
        margin: 0 10px;
    }
}